form(name=form, method='post', action='/#{form}')
  .form__item
    input(type='email', name='email', placeholder='email', required, value='yosh@test')
  .form__item
    input(type='password', name='password', placeholder='password', required, value='yosh')
  .form__item.hidden
    input(type='hidden', name='_csrf', value=req.csrfToken())
  .form__item
    button(type='submit') #{form}
  if message
    .form__item
      p #{message}
