form(name=form, method='post', action='/#{form}')
  - var formName = form.charAt(0).toUpperCase() + form.slice(1)

  .form__item
    input(type='email', name='email', placeholder='Email', required, value='yosh@test')

  .form__item
    input(type='password', name='password', placeholder='Password', required, value='yosh')

  .form__item.hidden
    input(type='hidden', name='_csrf', value=req.csrfToken())

  .form__item
    button.button.button--primary(type='submit') #{formName}
    if form === 'login'
      a.button(href='/signup') Create account
    else
      a.button(href='/login') Existing login

  if message
    .form__item
      p #{message}
