- var csrfToken = req.csrfToken()

h2 Current addresses
ul
  each address in req.user.address
    li
      p #{address}
      a.delete-address(data-address-id='#{address._id}', data-csrf-token=csrfToken) delete

h2 Add new address
form(name='updateAddress', method='put', action='/user/address')
  .form__item
    input(name='address[street]', type='text', placeholder='Street address')
  .form__item
    input(name='address[town]', type='text', placeholder='Town / City')
  .form__item
    input(name='address[county]', type='text', placeholder='County / State')
  .form__item
    input(name='address[postcode]', type='text', placeholder='Postcode / Zip')
  .form__item
    select(name='address[country]')
      for country in countries
        if country.code === 'GB'
          option(country.code, selected) #{country.name}
        else
          option(country.code) #{country.name}

  .form__item.hidden
    input(type='hidden', name='_csrf', value=csrfToken)
  .form__item
    button(type='submit') Confirm
