extends ../layout

include ../components/form/client
include ../components/clients

append body
  form(
    name='editClient',
    action='/clients/#{client._id}',
    data-client-id='#{client._id}'
  )
    +clientForm(client)
