- var userId = req.user._id.toString()

form.settings__form(
  name='settings_account',
  method='put',
  action='/user/#{userId}',
  data-csrf=req.csrfToken(),
  data-user-id=userId
)
  //- Name
  label.form__item
    span Name
    input(type='text', name='name', placeholder='Full name', value=req.user.name || '')

  //- Email
  label.form__item
    span Email
    input(type='email', name='email', placeholder='Email', value=req.user.email)

  //- Password
  label.form__item
    span Password
    .settings__password.inactive
      input(type='password', name='old_password', value='h4x0r', disabled)
      input.hidden(type='password', name='new_password', placeholder='New password')

  .form__item.buttons
    button.button--primary(type='submit') Save changes
